
            <html lang="en"><head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--    <link rel="icon" href="https://ssr1.scrape.center/static/img/favicon.ico">-->
        <!--    url_for参考https://zhuanlan.zhihu.com/p/78778387-->
            <link rel="icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
            <title>Scrape | Movie</title>


            <link rel="stylesheet" href="{{ url_for('static', filename='/css/app.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}" type="text/css">

        </head>
        <body>
        <div id="app">
            <div data-v-74e8b908="" class="el-row" id="header">
                <div data-v-74e8b908="" class="container el-col el-col-18 el-col-offset-3">
                    <div data-v-74e8b908="" class="el-row">
                        <div data-v-74e8b908="" class="logo el-col el-col-4">
                            <a data-v-74e8b908="" href="/" class="router-link-exact-active router-link-active">
                                <img data-v-74e8b908="" src="{{ url_for('static', filename='/img/logo.png') }}" class="logo-image">
                                <span data-v-74e8b908="" class="logo-title">Scrape</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div style="float: right; padding-right:100px">
                <form method="POST" action="/name" class="el-button category el-button--primary el-button--mini" >
                    <input type="text" placeholder="请输入查询的电影" name="keyword" class="el-button category el-button--primary el-button--mini"  />
                    <input type="submit" class="el-button category el-button--primary el-button--mini" value="查询">
                </form>
            </div>
            </div>

            
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/11525673" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2178872593.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/11525673" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">布达佩斯大饭店</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2014 / 美国德国英国 / 剧情喜剧冒险</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">小清新的故事里注入了大历史的情怀。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        8.9</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/3442220" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2559579779.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/3442220" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">海豚湾</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2009 / 美国 / 纪录片</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">海豚的微笑，是世界上最高明的伪装。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.3</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292343" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2209066019.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292343" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">蝴蝶效应</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2004 / 美国加拿大 / 剧情悬疑科幻惊悚</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">人的命运被自己瞬间的抉择改变。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        8.9</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292262" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p477229647.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292262" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">美国往事</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1984 / 美国意大利 / 犯罪剧情</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">往事如烟，无处祭奠。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.2</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292656" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p480965695.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292656" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">心灵捕手</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1997 / 美国 / 剧情</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">人生中应该拥有这样的一段豁然开朗。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        8.9</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1291832" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1910902213.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1291832" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">低俗小说</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1994 / 美国 / 剧情喜剧犯罪</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">故事的高级讲法。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        8.9</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292679" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p465939041.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292679" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">春光乍泄</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1997 / 中国香港日本韩国 / 剧情爱情同性</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">爱情纠缠，男女一致。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.0</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1294371" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2263408369.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1294371" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">摩登时代</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1936 / 美国 / 剧情喜剧爱情</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">大时代中的人生，小人物的悲喜。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.3</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1302425" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2579932167.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1302425" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">喜剧之王</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1999 / 中国香港 / 喜剧剧情爱情</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">我是一个演员。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        8.8</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1291543" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2219011938.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1291543" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">功夫</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2004 / 中国大陆中国香港 / 动作喜剧犯罪奇幻</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">警恶惩奸，维护世界和平这个任务就交给你了，好吗？</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        8.8</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div class="el-loading-mask" style="display: none;">
                    <div class="el-loading-spinner">
                        <svg viewBox="25 25 50 50" class="circular">
                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                        </svg>
                    </div>
                </div>
            </div>
            <div data-v-7f856186="" class="el-row">
                <div data-v-7f856186="" class="el-col el-col-10 el-col-offset-11">
                    <div data-v-7f856186="" class="pagination m-v-lg">
                        <div data-v-7f856186="" class="el-pagination is-background">
                            <span class="el-pagination__total">共 100 条</span>

                            <button type="button" disabled="disabled" class="btn-prev">
                                <i class="el-icon el-icon-arrow-left"></i>
                            </button>

                            <ul class="el-pager">


                                
                <li class="number">
                                    <a href="/page/1">1</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/2">2</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/3">3</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/4">4</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/5">5</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/6">6</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/7">7</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/8">8</a>
                                </li>

                
                <li class="number active">
                                    <a href="/page/9">9</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/10">10</a>
                                </li>

                


                            </ul>

                            <a href="/page/10" class="next">
                                <button type="button" class="btn-next"><i class="el-icon el-icon-arrow-right"></i></button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body></html>
        