
            <html lang="en"><head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--    <link rel="icon" href="https://ssr1.scrape.center/static/img/favicon.ico">-->
        <!--    url_for参考https://zhuanlan.zhihu.com/p/78778387-->
            <link rel="icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
            <title>Scrape | Movie</title>


            <link rel="stylesheet" href="{{ url_for('static', filename='/css/app.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}" type="text/css">

        </head>
        <body>
        <div id="app">
            <div data-v-74e8b908="" class="el-row" id="header">
                <div data-v-74e8b908="" class="container el-col el-col-18 el-col-offset-3">
                    <div data-v-74e8b908="" class="el-row">
                        <div data-v-74e8b908="" class="logo el-col el-col-4">
                            <a data-v-74e8b908="" href="/" class="router-link-exact-active router-link-active">
                                <img data-v-74e8b908="" src="{{ url_for('static', filename='/img/logo.png') }}" class="logo-image">
                                <span data-v-74e8b908="" class="logo-title">Scrape</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div style="float: right; padding-right:100px">
                <form method="POST" action="/name" class="el-button category el-button--primary el-button--mini" >
                    <input type="text" placeholder="请输入查询的电影" name="keyword" class="el-button category el-button--primary el-button--mini"  />
                    <input type="submit" class="el-button category el-button--primary el-button--mini" value="查询">
                </form>
            </div>
            </div>

            
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1889243" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2614988097.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1889243" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">星际穿越</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2014 / 美国英国加拿大 / 剧情科幻冒险</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">爱是一种力量，让我们超越时空感知它的存在。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.4</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/3011091" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2587099240.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/3011091" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">忠犬八公的故事</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2009 / 美国英国 / 剧情</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">永远都不能忘记你所爱的人。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.4</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292064" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p479682972.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292064" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">楚门的世界</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1998 / 美国 / 剧情科幻</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">如果再也不能见到你，祝你早安，午安，晚安。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.3</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292001" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2574551676.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292001" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">海上钢琴师</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1998 / 意大利 / 剧情音乐</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">每个人都要走一条自己坚定了的路，就算是粉身碎骨。 </span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.3</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/3793023" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p579729551.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/3793023" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">三傻大闹宝莱坞</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2009 / 印度 / 剧情喜剧爱情歌舞</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">英俊版憨豆，高情商版谢耳朵。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.2</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/2131459" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1461851991.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/2131459" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">机器人总动员</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2008 / 美国 / 科幻动画冒险</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">小瓦力，大人生。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.3</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1291549" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1910824951.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1291549" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">放牛班的春天</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2004 / 法国瑞士德国 / 剧情喜剧音乐</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">天籁一般的童声，是最接近上帝的存在。 </span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.3</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1307914" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2564556863.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1307914" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">无间道</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2002 / 中国香港 / 剧情犯罪惊悚</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">香港电影史上永不过时的杰作。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.3</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/25662329" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2614500649.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/25662329" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">疯狂动物城</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2016 / 美国 / 喜剧动画冒险</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">迪士尼给我们营造的乌托邦就是这样，永远善良勇敢，永远出乎意料。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.2</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292213" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2455050536.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292213" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">大话西游之大圣娶亲</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1995 / 中国香港中国大陆 / 喜剧爱情奇幻古装</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">一生所爱。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.2</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div class="el-loading-mask" style="display: none;">
                    <div class="el-loading-spinner">
                        <svg viewBox="25 25 50 50" class="circular">
                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                        </svg>
                    </div>
                </div>
            </div>
            <div data-v-7f856186="" class="el-row">
                <div data-v-7f856186="" class="el-col el-col-10 el-col-offset-11">
                    <div data-v-7f856186="" class="pagination m-v-lg">
                        <div data-v-7f856186="" class="el-pagination is-background">
                            <span class="el-pagination__total">共 100 条</span>

                            <button type="button" disabled="disabled" class="btn-prev">
                                <i class="el-icon el-icon-arrow-left"></i>
                            </button>

                            <ul class="el-pager">


                                
                <li class="number">
                                    <a href="/page/1">1</a>
                                </li>

                
                <li class="number active">
                                    <a href="/page/2">2</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/3">3</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/4">4</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/5">5</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/6">6</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/7">7</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/8">8</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/9">9</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/10">10</a>
                                </li>

                


                            </ul>

                            <a href="/page/3" class="next">
                                <button type="button" class="btn-next"><i class="el-icon el-icon-arrow-right"></i></button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body></html>
        