
            <html lang="en"><head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--    <link rel="icon" href="https://ssr1.scrape.center/static/img/favicon.ico">-->
        <!--    url_for参考https://zhuanlan.zhihu.com/p/78778387-->
            <link rel="icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
            <title>Scrape | Movie</title>


            <link rel="stylesheet" href="{{ url_for('static', filename='/css/app.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}" type="text/css">

        </head>
        <body>
        <div id="app">
            <div data-v-74e8b908="" class="el-row" id="header">
                <div data-v-74e8b908="" class="container el-col el-col-18 el-col-offset-3">
                    <div data-v-74e8b908="" class="el-row">
                        <div data-v-74e8b908="" class="logo el-col el-col-4">
                            <a data-v-74e8b908="" href="/" class="router-link-exact-active router-link-active">
                                <img data-v-74e8b908="" src="{{ url_for('static', filename='/img/logo.png') }}" class="logo-image">
                                <span data-v-74e8b908="" class="logo-title">Scrape</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div style="float: right; padding-right:100px">
                <form method="POST" action="/name" class="el-button category el-button--primary el-button--mini" >
                    <input type="text" placeholder="请输入查询的电影" name="keyword" class="el-button category el-button--primary el-button--mini"  />
                    <input type="submit" class="el-button category el-button--primary el-button--mini" value="查询">
                </form>
            </div>
            </div>

            
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1308807" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2174346180.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1308807" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">哈尔的移动城堡</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2004 / 日本 / 动画奇幻冒险</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">带着心爱的人在天空飞翔。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.1</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1929463" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1784592701.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1929463" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">少年派的奇幻漂流</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2012 / 美国中国台湾英国加拿大 / 剧情奇幻冒险</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">瑰丽壮观、无人能及的冒险之旅。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.1</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1291858" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2553104888.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1291858" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">鬼子来了</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2000 / 中国大陆 / 剧情喜剧</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">对敌人的仁慈，就是对自己残忍。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.3</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1305487" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p453924541.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1305487" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">猫鼠游戏</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2002 / 美国加拿大 / 传记犯罪剧情</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">骗子大师和执著警探的你追我跑故事。 </span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.1</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1299398" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2561721372.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1299398" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">大话西游之月光宝盒</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1995 / 中国香港中国大陆 / 喜剧爱情奇幻古装</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">旷古烁今。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.0</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/3742360" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1512562287.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/3742360" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">让子弹飞</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2010 / 中国大陆中国香港 / 剧情喜剧动作西部</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">你给我翻译翻译，神马叫做TMD的惊喜。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.0</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1291583" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1446261379.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1291583" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">天空之城</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1986 / 日本 / 动画奇幻冒险</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">对天空的追逐，永不停止。 </span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.1</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1296736" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p792376093.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1296736" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">钢琴家</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2002 / 英国法国波兰德国 / 剧情传记战争音乐</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">音乐能化解仇恨。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.3</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1291572" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2640236255.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1291572" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">指环王2：双塔奇兵</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2002 / 美国新西兰 / 剧情动作奇幻冒险</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">承前启后的史诗篇章。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.2</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1298624" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2550757929.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1298624" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">闻香识女人</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1992 / 美国 / 剧情</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">史上最美的探戈。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.1</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div class="el-loading-mask" style="display: none;">
                    <div class="el-loading-spinner">
                        <svg viewBox="25 25 50 50" class="circular">
                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                        </svg>
                    </div>
                </div>
            </div>
            <div data-v-7f856186="" class="el-row">
                <div data-v-7f856186="" class="el-col el-col-10 el-col-offset-11">
                    <div data-v-7f856186="" class="pagination m-v-lg">
                        <div data-v-7f856186="" class="el-pagination is-background">
                            <span class="el-pagination__total">共 100 条</span>

                            <button type="button" disabled="disabled" class="btn-prev">
                                <i class="el-icon el-icon-arrow-left"></i>
                            </button>

                            <ul class="el-pager">


                                
                <li class="number">
                                    <a href="/page/1">1</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/2">2</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/3">3</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/4">4</a>
                                </li>

                
                <li class="number active">
                                    <a href="/page/5">5</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/6">6</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/7">7</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/8">8</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/9">9</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/10">10</a>
                                </li>

                


                            </ul>

                            <a href="/page/6" class="next">
                                <button type="button" class="btn-next"><i class="el-icon el-icon-arrow-right"></i></button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body></html>
        