
            <html lang="en"><head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--    <link rel="icon" href="https://ssr1.scrape.center/static/img/favicon.ico">-->
        <!--    url_for参考https://zhuanlan.zhihu.com/p/78778387-->
            <link rel="icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
            <title>Scrape | Movie</title>


            <link rel="stylesheet" href="{{ url_for('static', filename='/css/app.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}" type="text/css">

        </head>
        <body>
        <div id="app">
            <div data-v-74e8b908="" class="el-row" id="header">
                <div data-v-74e8b908="" class="container el-col el-col-18 el-col-offset-3">
                    <div data-v-74e8b908="" class="el-row">
                        <div data-v-74e8b908="" class="logo el-col el-col-4">
                            <a data-v-74e8b908="" href="/" class="router-link-exact-active router-link-active">
                                <img data-v-74e8b908="" src="{{ url_for('static', filename='/img/logo.png') }}" class="logo-image">
                                <span data-v-74e8b908="" class="logo-title">Scrape</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div style="float: right; padding-right:100px">
                <form method="POST" action="/name" class="el-button category el-button--primary el-button--mini" >
                    <input type="text" placeholder="请输入查询的电影" name="keyword" class="el-button category el-button--primary el-button--mini"  />
                    <input type="submit" class="el-button category el-button--primary el-button--mini" value="查询">
                </form>
            </div>
            </div>

            
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1301753" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2277799019.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1301753" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">狮子王</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1994 / 美国 / 动画冒险歌舞</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">动物版《哈姆雷特》。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.1</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292000" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1910926158.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292000" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">搏击俱乐部</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1999 / 美国德国意大利 / 剧情动作悬疑惊悚</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">邪恶与平庸蛰伏于同一个母体，在特定的时间互相对峙。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.0</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1291818" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1910899751.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1291818" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">饮食男女</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1994 / 中国台湾美国 / 剧情家庭</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">人生不能像做菜，把所有的料都准备好了才下锅。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.2</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1306029" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1665997400.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1306029" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">美丽心灵</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2001 / 美国 / 传记剧情</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">爱是一切逻辑和原由。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.1</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1485260" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2192535722.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1485260" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">本杰明·巴顿奇事</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2008 / 美国 / 剧情爱情奇幻</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">在时间之河里感受溺水之苦。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.0</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1900841" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1808872109.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1900841" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">窃听风暴</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2006 / 德国 / 剧情悬疑</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">别样人生。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.2</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/3008247" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p1473670352.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/3008247" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">穿条纹睡衣的男孩</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2008 / 英国美国 / 剧情战争</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">尽管有些不切实际的幻想，这部电影依旧是一部感人肺腑的佳作。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.2</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292220" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2648230660.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292220" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">情书</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1995 / 日本 / 剧情爱情</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">暗恋的极致。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        8.9</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1293350" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p792443418.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1293350" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">两杆大烟枪</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>1998 / 英国 / 剧情喜剧犯罪</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">4个臭皮匠顶个诸葛亮，盖·里奇果然不是盖的。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        9.1</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div data-v-7f856186="" class="el-card item m-t is-hover-shadow">
                        <div class="el-card__body">
                            <div data-v-7f856186="" class="el-row">
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-8 el-col-sm-6 el-col-md-4">
                                    <a data-v-7f856186="" href="/token/1292402" class="">
                                        <img data-v-7f856186="" src="{{ url_for('static', filename='/img/p2441988159.jpg') }}" class="cover">
                                    </a>
                                </div>
                                <div data-v-7f856186="" class="p-h el-col el-col-24 el-col-xs-9 el-col-sm-13 el-col-md-16">
                                    <a data-v-7f856186="" href="/token/1292402" class="name">
                                        <h2 data-v-7f856186="" class="m-b-sm">西西里的美丽传说</h2>
                                    </a>
                                    <div data-v-7f856186="" class="categories">

                                        <button data-v-7f856186="" type="button" class="el-button category el-button--primary el-button--mini">
                                            <span>2000 / 意大利美国 / 剧情战争情色</span>
                                        </button>
                                    </div>
                                    <div data-v-7f856186="" class="m-v-sm info">
                                        <span data-v-7f856186="">美丽无罪。</span>
                                    </div>
                                </div>
                                <div data-v-7f856186="" class="el-col el-col-24 el-col-xs-5 el-col-sm-5 el-col-md-4">
                                    <p data-v-7f856186="" class="score m-t-md m-b-n-sm">
                                        8.9</p>
                                    <p data-v-7f856186="">
                                    </p><div data-v-7f856186="" role="slider" aria-valuenow="4.75" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate">


                                </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>

        
        <div class="el-loading-mask" style="display: none;">
                    <div class="el-loading-spinner">
                        <svg viewBox="25 25 50 50" class="circular">
                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                        </svg>
                    </div>
                </div>
            </div>
            <div data-v-7f856186="" class="el-row">
                <div data-v-7f856186="" class="el-col el-col-10 el-col-offset-11">
                    <div data-v-7f856186="" class="pagination m-v-lg">
                        <div data-v-7f856186="" class="el-pagination is-background">
                            <span class="el-pagination__total">共 100 条</span>

                            <button type="button" disabled="disabled" class="btn-prev">
                                <i class="el-icon el-icon-arrow-left"></i>
                            </button>

                            <ul class="el-pager">


                                
                <li class="number">
                                    <a href="/page/1">1</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/2">2</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/3">3</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/4">4</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/5">5</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/6">6</a>
                                </li>

                
                <li class="number active">
                                    <a href="/page/7">7</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/8">8</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/9">9</a>
                                </li>

                
                <li class="number">
                                    <a href="/page/10">10</a>
                                </li>

                


                            </ul>

                            <a href="/page/8" class="next">
                                <button type="button" class="btn-next"><i class="el-icon el-icon-arrow-right"></i></button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body></html>
        